<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangsu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,128},{176,93}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{176,93}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{176,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{176,125}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,131}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{168,135}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,135}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{170,135}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,135}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{166,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{166,133}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,222},{166,129}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{166,129}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,352},{162,111}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{162,111}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,222},{164,99}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{164,99}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,406},{166,79}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,51},{166,79}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{168,81}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{168,81}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>guangsu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,322},{164,83}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{164,83}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangsu.pvr.ccz</string>
            <key>size</key>
            <string>{506,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edec71fd9a540fc6f41d99487b76606a:1/1$</string>
            <key>textureFileName</key>
            <string>guangsu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
